.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    font-weight: 700;
}

.item a.activeLink {
    color: gold;
}