.nav {
    grid-area: n;
    background-color: #9cfcce;
    padding: 20px;
}

.item a {
    color: #0273b7;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.1em;
    font-weight: 700;
}

.item a.activeLink {
    color: #ae9404;
}